body {
    background-color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}


/* Header */


header {
    background-color: #cabbb7;
    height: 132px;
    width: 39%;
    margin-left: auto;
    margin-right: auto;
}

.header-text {
    padding-left: 80px;
    padding-top: 50px;
    font-size: 18px;
}

.logo {
    max-width: 100%;
    position: relative;
    margin-bottom: 0%;
    margin-right: 0%;
    margin-top: -14%;
}
#logo-div{
    padding-right: 7.5%;
    padding-left: 0%;
    width: 35%;
    height: 200%;
    float: right;
}

#banner-text{
    margin-left: -4%;
}

.navbar {
    background-color: #c65252;
    height: 43px;
    width: 39%;
    margin-left: auto;
    margin-right: auto;
}

.navbar ul {
    margin-top: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0.5em;
    width: 100%;
}

.navbar-links {
    float: right;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 13px;
    padding-bottom: 17px;
    font-weight: bold;
    font-size: 18px;
    color: #f0ecec;
}

.contact {
    padding-right: 63px;
}


/* Main Content */


main {

    background-color: #ffffff;
    height: 663px;
    width: 39%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    margin-top: 0px;
    padding-top: 40px;
    font-size: 45px;
    margin-bottom: 0px;
}

/* Phone picture */

#phone {
    width: 85.5%;
    height: 85.5%;
}

#phone-text {
    font-weight: bold;
}

/*ATM & Scooter Pictures*/

#div1 {
    width: 40%;
    height: 20%;
    float: left;
    margin-left: 7.5%;
    font-weight: bold;
}

#atm {
    max-width: 100%;
}

#scooter {
    max-width: 100%;
}

#div2 {
    width: 40%;
    height: 20%;
    float: right;
    margin-right: 7.5%;
    font-weight: bold;
}



/* Footer */


.footer {
    background-color: #cabbb7;
    height: 114px;
    width: 39%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo-footer {
    width: 150px;
    padding-top: 10px;
}

.footer-text {
    margin: 0px;
    text-align: center;
    height: 20px;
    padding-top: 10px;
    font-size: 13px;
}

/* Contact Form */


#contactform {
    text-align: center;

}

#contact-message {
    background-color: #cabbb7;

}

#contactform h1 {
    margin-bottom: 20px;
}

select {
    width: 233px;
    background-color: #cabbb7;
}

input {
    background-color: #cabbb7;

}

#submitbutton {
    background-color: #c65252;

}

#contact-message {
    width: 233px;
    height: 200px;
    max-width: 39%;
}


/* About */


#about {
    padding-top: 50px;
    margin-left: 46px;
    text-align: left;
}

#interests {
    text-align: left;
    margin-left: 46px;
    margin-right: 46px;
    margin-top: 46px;
}

#interests li {
    margin-top: -10px;
}


/* Blog */


#eb110 {
    padding-top: 50px;
}

#eb110-pic {
    width: 616px;
}

#eb110 div {
    margin-left: 46px;
    margin-right: 46px;
    text-align: left;
}